@import url(./__pic/profile__pic.css);
@import url(./__info/profile__info.css);
@import url(./__wrapper/profile__wrapper.css);
@import url(./__name/profile__name.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__title/profile__title.css);
@import url(./__add-button/profile__add-button.css);

.profile {
  margin-bottom: 50px;
  display: flex;
}

@media screen and (max-width: 650px) {
  .profile {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 282px;
  }
}

@media screen and (max-width:900px){
  .profile {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width:650px){
  .profile {
    padding-left: 0;
    padding-right: 0;
  }
}