@import url(./__image/card__image.css);
@import url(./__item/card__item.css);
@import url(./__title/card__title.css);
@import url(./__like-button/card__like-button.css);

.card {
  /* max-width: 282px; */
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 3%;
  overflow: hidden;
}